body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    text-align: center;
    font-family: "Times New Roman";
}

h1 {
    font-weight: 400;
    font-size: 30px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 10px;
}


span{
    background-color: rgba(255, 255, 255, 0.8);
}

h4 {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 6px;
}

table {
    border: 1px solid white;
    line-height: 15px;
    width: 80%;
}

p {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    padding: 6px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 20px;
}

.buttons {
    width: 100%;
    text-align: center;
}


.tableBtn {
    width: 39%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}

hr {
    background-color: rgba(255, 255, 255, 0.8);
}

table thead {
    background-color: rgba(255, 255, 255, 0.8);
}

.btn-primary {
    width: 39%;
}

.chart {
    background-color: rgba(255, 255, 255, 0.9);
}

.container {
    /*background-color: rgba(255, 255, 255, 0.9);*/
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 10px;
}

.duplicate {
    background-color: red;
}

table {
    margin-top: 1rem;
}

table th {
    text-align: center;
}

table td input {
    width: 100%;
}